.node{
     fill: #ffcf68;
     cursor: pointer;
     stroke-width: 2px;
     stroke: rgba(255, 159, 68, 0.36);
 }
.node:hover{
    fill: #fff2a5;
}
.node-text{
    text-anchor: middle
}
.node-img{
    cursor: grab;
}
.node-img:hover{
   fill: red;
}
.link line{
    stroke-width: 4px;
    stroke: #57cc1a;
}
.link circle {
    fill: #ffbf60;
    opacity: 0.7;
}

.board{

}
.board .boardBackground{
    fill: #b8b8b8;
    stroke: black;
    stroke-width: 2px;
}
.board .board-title{

}
.board .board-back{
    position: absolute;
    left:40px;
    z-index: -9999;
    width:1300px;
}
.board .board-aside{
    position: absolute;
    z-index: 1111;
    height:0;
}
.board .board-aside .boardAside{
    fill: #ffffff;
}
.board .board-aside .board-text{
    cursor: pointer;
}
.board .board-aside .board-text:hover{
    fill: burlywood;
}
.board .board-start{
    position: absolute;
    z-index: 9999;
}
.border-content-button{
    margin-top: 30px;
    margin-left:5px;
}

.path{
    fill: none;
    stroke: #67f91f;
    stroke-width: 3px;
    marker-end:url(#arrow)
}
.path circle {
    fill: #59cc59;
    opacity: 0.7;
}
.drugButton{
    width:100%;
    border: #949494 solid 1px;
    border-radius: 4px;
}
.nodeInterface{
    cursor: grab;
    fill : #ff9f44;
    /*stroke-width: 10px;*/
}
