.timerDash{
    width: 300px;
    margin: 0 auto;
}
.timer-button{
    width: 100%;
}
.timer span {
    font-size: 13px;
    padding: 4px;
    float:right;
}

.timer span:hover {

  color:#b9def0;
}
.timerForm .timerForm-buttonGroup button{
    border-color: #529bff;
    color:#529bff;
    margin-right:15px;
}
.timerForm .timerForm-buttonGroup{
    margin-left: 15px;
}

.timerForm .timerForm-input{
    margin-bottom: 15px;
}